/* Anakotmai (MIT License) */
@font-face {
  font-family: 'Anakotmai';
  src: url('/fonts/Anakotmai/Anakotmai-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Anakotmai';
  src: url('/fonts/Anakotmai/Anakotmai-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Anakotmai';
  src: url('/fonts/Anakotmai/Anakotmai-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Boon (OFL License) */
@font-face {
  font-family: 'Boon';
  src: url('/fonts/Boon/Boon-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Boon';
  src: url('/fonts/Boon/Boon-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
